<!-- categories -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="bg-image"></div>
    <div class="chatbot-container">
        <div class="chatbot-header">
            <img src="{{url_for('static',filename='images/robi.png')}}" alt="Chatbot Icon" class="chatbot-icon">
            <div class="chatbot-intro">
                <h3>Hey there. This is Robi, your SmartBot.</h3>
                <p>Let's Chat!</p>
            </div>
        </div>
        <!-- <form method = 'POST'> -->
        <div class="chatbot-options">
            <a class="option-btn"  value="Academics"                    name = "category" href="./answer/Academics"> Academics</a>
            <a class="option-btn"  value="Arts and Entertainment"         name = "category" href="./answer/Arts and Entertainment"> Arts and Entertainment</a>
            <a class="option-btn"  value="Health, Wellness, and Food"     name = "category" href="./answer/Health, Wellness, and Food"> Health, Wellness, and Food</a>
            <a class="option-btn"  value="Business and Finance"           name = "category" href="./answer/Business and Finance"> Business and Finance</a>
            <a class="option-btn"  value="Travel and Adventure"           name = "category" href="./answer/Travel and Adventure"> Travel and Adventure</a>
            <a class="option-btn"  value="Language and Communication"     name = "category" href="./answer/Language and Communication"> Language and Communication</a>
            <a class="option-btn"  value="Creativity and Innovation"      name = "category" href="./answer/Creativity and Innovation"> Creativity and Innovation</a>
            <a class="option-btn"  value="Current Events"                 name = "category" href="./answer/Current Events"> Current Events</a>
            <a class="option-btn"  value="Environment and Sustainability" name = "category" href="./answer/Environment and Sustainability"> Environment and Sustainability</a>
            <a class="option-btn"  value="Philosophy and Ethics"          name = "category" href="./answer/Philosophy and Ethics"> Philosophy and Ethics</a>
            <a class="option-btn"  value="Social and Relationships"       name = "category" href="./answer/Social and Relationships"> Social and Relationships</a>
            <a class="option-btn"  value="Technology and Programming"     name = "category" href="./answer/Technology and Programming"> Technology and Programming</a>
        <!-- <div class="chatbot-input">
            <textarea type="text" placeholder="Enter your Prompt..." ></textarea>
        </div> -->
        <!-- </div> -->
    </div>
</form>
</div>
</body>
</html>